html, head, body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

body {
	position: relative;
}

header {
	width: 100%;
	height: 10%;
	top: 0;
	font-size: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background: black;
	text-align: center;
}

section {
	width: 100%;
	height: 80%;
}

section #inputBox {
	width: 100%;
	padding-top: 1.23rem;
	display: flex;
	justify-content: center;
	align-content: center;
}

section #inputBox input {
	width: 40%;
	font-size: 1.3rem;
}

section #outputBox {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	height: 80%;
}

section #outputBox label {
	font-size: 1.2rem;
	margin: 0.2rem 0;
}

section #outputBox textarea {
	width: 80%;
	height: 50%;
	font-size: 1.1rem;
	resize: none;
}

footer {
	width: 100%;
	height: 10%;
	bottom: 0;
	background: black;
	font-size: 2rem;
	color: white;
	text-align: right;
	display: flex;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
}

footer p {
	padding: 0.3rem;
	margin: 0;
}

footer img {
	width: auto;
	height: 50%;
}